.mainPage
    padding: 50px
    .movieList
        padding: 0
        margin: 0 auto
        list-style: none
        display: flex
        gap: 30px
        flex-wrap: wrap
        width: 85%
        justify-content: center

    .input
        padding: 20px
        font-size: 18px
        width: 40%
        border-radius: 8px
        border: 1px solid #777
        background-color: transparent
@media (max-width: 1410px)
    .mainPage
        padding: 20px
        .movieList
            width: 95%

@media (max-width: 630px)
    .mainPage
        h1
            font-size: 32px
        .input
            padding: 15px
            width: 70%
