#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: top;
  font-family: "Poppins", sans-serif;
  --accent-color: #a100ff;
  --grey-color: #3e3e3e;
  --light-grey-color: #5a5a5d;
}
